.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container img {
  width: 720px;
  height: 240px;
}

.container h2 {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

.data {
  width: 370px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-border {
  border: 1.5px solid rgb(77, 76, 76);
}
